* {
  box-sizing: border-box;
}

html {
  font-family: 'Inconsolata';
  color: #000;
  font-weight: 50;
  font-size: 1em;
  line-height: 1;
  background: #000;
  text-align: center;
}

.title img {
  -webkit-filter: drop-shadow(-2px 2px 10px rgba(255, 10, 20, 0.9));
  filter: drop-shadow(-2px 2px 10px rgba(255, 10, 20, 0.9));
  max-width: 100%;
}

.title h1 {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

a {
  font-size: 0.5em;
  color: #fff;
  text-decoration-color: rgba(255, 255, 255, 0.1);
}

a:hover {
  font-style: italic;
}

body {
  font-size: 3em;
}

.main {
  mix-blend-mode: exclusion;
  position: absolute;
  padding: 40px 80px;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
}

h3 {
  font-weight: normal;
  margin-bottom: 0px;
  font-size: 1em;
}

.spotify-follow {
  margin-top: 15px;
  background: #fff;
  padding-top: 10px;
  padding-left: 10px;
  display: inline-block;
}

::-moz-selection {
  background: #111;
  text-shadow: none;
}

::selection {
  background: #111;
  text-shadow: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 500px) {
  .main {
    padding: 20px;
  }
  body {
    font-size: 3em;
  }
}
