html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  padding: 20px 50px;
}

::-moz-selection {
  background: #ddd;
  text-shadow: none;
}

::selection {
  background: #ddd;
  text-shadow: none;
}

