* {
  box-sizing: border-box;
}

.noise {
  margin-top: 10px;
  filter: url('#noise'); /* drop-shadow(-2px 2px 10px rgba(1, 120, 255, 0.9));*/
  margin-bottom: 25px;
}

.info {
  filter: url('#noise'); /* drop-shadow(-2px 2px 20px rgba(255, 255, 255, 0.9));*/
}

html {
  font-family: 'Inconsolata';
  color: #000;
  font-weight: 50;
  font-size: 1em;
  line-height: 1;
  background: #000;
  text-align: center;
}

/*.divider {
  height: 2px;
  background: #fff;
  margin-bottom: 100px;
  margin-top: 15px;
}*/

.title img {
  filter: url('#noise'); /*drop-shadow(-2px 2px 10px rgba(245, 10, 80, 0.9))*/
  max-width: 500px;
  width: 100%;
}

.title h1 {
  position: absolute;

  top: -9999px;
  left: -9999px;
}

a {
  font-size: 0.5em;
  color: #fff;
  text-decoration-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  transition: all 0.1s;
}

a:hover {
  /*font-style: italic;*/
  /*-webkit-filter: drop-shadow(-1px 1px 5px rgba(245, 10, 80, 1));*/
  /*filter: drop-shadow(-1px 1px 5px rgba(245, 10, 80, 1));*/
  filter: url('#noise');
  -webkit-filter: url('#noise');
}

body {
  font-size: 3em;
}

.dg.ac {
  position: absolute !important;
  background: white !important;
  z-index: 200 !important;
}

.main-content {
  display: none;
  /*mix-blend-mode: exclusion;*/
  position: absolute;
  /*padding: 20px;*/
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  width: 720px;
  height: 720px;
  padding-top: 40px;
  /*border: 1px solid rgba(255, 0, 80, 0.4);*/
  margin: 0px auto;
  color: #fff;
}

/*.border {
  width: 700px;
  height: 700px;
  margin: 20px auto;
  border: 2px solid #fff;
}*/

h3 {
  font-weight: normal;
  margin-bottom: 0px;
  font-size: 1em;
}

.spotify-follow {
  margin-top: 15px;
  background: #fff;
  padding-top: 10px;
  padding-left: 10px;
  display: inline-block;
}

::-moz-selection {
  background: #111;
  text-shadow: none;
}

::selection {
  background: #111;
  text-shadow: none;
}

.info-box {
  margin-top: 45px;
  /*border-top: 2px solid rgba(255, 0, 80, 0.9);*/
  padding-top: 25px;
  height: 500px;
  position: relative;
  z-index: 20;
  /*mix-blend-mode: difference ;*/
  box-shadow: 0 0 800px rgba(255, 0, 80, 0.4);
  /*background: rgba(0, 0, 0, 0.9);*/
  background: white;
}

.info-box h3 {
  color: black;
  font-weight: bold;
  filter: url('#noise') drop-shadow(-2px 2px 15px rgba(255, 0, 80, 1));
}

h2 {
  font-size: 1em;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

.info-box h2 {
  color: black;

  font-size: 0.7em;
}

.info-box h4 {
  font-size: 0.4em;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  mix-blend-mode: difference;

  /*filter: blur(10px)*/
}

@media screen and (max-width: 500px) {
  .main {
    padding: 20px;
  }
  body {
    font-size: 3em;
  }
}
